.banner {
  background-image: url("https://j.gifs.com/vJaW33.gif");
  height: 50vh;
  background-size: cover;
  background-position: center;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}



.banner h1 {
  padding-top: 100px;
  margin-top: 0;
  font-size: 40px;
  color: white;
}

.banner p {
  font-size: 25px;
  color: #CCCCCC;
}

.container {
  width: 800px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: 'Lora', serif;
  font-size: 20px;
  color: rgb(30,30,30);
  line-height: 1.5em;
}

h2{
  margin-top: 60px;
  color: rgb(80,80,80);
}

.link-green {
  font-style: italic;
  font-size: 25px;
  color: rgb(30,30,30);
  text-decoration: none;
  background-color: rgba(233, 253, 240, 1);
}


.link-green:hover {
  background-color: rgb(24, 4, 246);
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 440px) {
  .container {
    width: 300px;
  }
}
